/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
img.plot {
    width: 100%;
}
.plot-container {
    text-align: center;
}
.ruler {
    background-color: steelblue;
    position: absolute;
}
#horizontal{
    margin-top: 50px;
    width:98%;
    height:4px;
    opacity: 0.5;
    display: none;
}
#vertical{
    width:1px;
    height:100%;
    display: none;
}

#logs {
    margin-top: 50px;
}

#logs a {
    margin: 5px;
}

#plot img {
    margin: 0 auto
}

#top10 h3 {
    min-width: 180px;
}
#top10 h3.rank {
    font-size: 60px;
    font-weight: 500;
    color: #438bd9;
    border-bottom: 3px dotted #ddd;
}

#top10 span.recent {
    font-size: 30px;
    /* color: red; */
    font-style: italic;
    background: #FAAC00;
    background: -moz-linear-gradient(top, #FAAC00 0%, #FF2685 79%, #CC0A36 100%);
    background: -webkit-linear-gradient(top, #FAAC00 0%, #FF2685 79%, #CC0A36 100%);
    background: linear-gradient(to bottom, #FAAC00 0%, #FF2685 79%, #CC0A36 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#top10 table {
    font-size: 12px;
    min-width: 180px;
}
#top10 table td {
    vertical-align: top
}
#top10 table td.meta-key {
    font-weight: bold;
}
#top10 table td.meta-value {
    text-align: right;
}
#top10 h4.date {
    font-size: 12px;
}
#top10 .filepath {
    color: #999;
    font-size: 10px;
}
