<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KM3Mon Detector Monitor</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">

    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">KM3Mon</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Overview</a></li>
          </ul>
          <!-- <ul class="nav navbar&#45;nav"> -->
          <!--   <li class="active"><a href="#">Intra DOM Calibration</a></li> -->
          <!-- </ul> -->
          <!-- <ul class="nav navbar&#45;nav"> -->
          <!--   <li class="active"><a href="#">K40 Rate Dist</a></li> -->
          <!-- </ul> -->
          <ul class="nav navbar-nav">
            <li class="active"><a href="trigger.html">Trigger</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="ahrs.html">AHRS</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="rttc.html">RTTC</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="k40.html">K40</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="reco.html">Reco</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="sn.html">SN</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="compact.html">CMPCT</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a href="https://git.km3net.de/km3py/km3mon/issues">Issues</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <h4 style="padding-top: 4px; padding-right: 10px; text-align: center">
                <span id="divUTC" class="label label-info"></span>
              </h4>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block infoheader %}{% endblock %}
    {% block plots %}{% endblock %}

    <script type = "text/javascript">
      $(document).ready(function(){
        $(function(){
          setInterval(function(){
            var divUtc = $('#divUTC');
            var d1 = new Date();
            var utc_string = d1.toUTCString().replace("GMT", "UTC");
            divUtc.text(utc_string);
          },1000);
        });
      });
    </script>

  </body>
</html>
