{% extends "base.html" %}

{% block main %}

    <div class="alert alert-success alert-dismissible" role="alert">The current log file (write in progress) can be downloaded here: <a href="/logs/MSG.log">MSG.log</a></div>


    <div class="container-fluid" id="logs">
        <div class="row">
            <div class="col-md-12">

                {% for filename, filesize in files.items() %}
                {% if filename != 'MSG.log' %}
                <a href="/logs/{{ filename }}">
                    <img src="/logs/{{ filename|replace('.log', '.png') }}"
                         width="100"
                         alt="{{ filename }} ({{'%0.1f' | format(filesize/1024/1024) }}MB)" />
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
