{% extends "base.html" %}

{% block plots %}
  <div class="row">
    <div class="col-md-6 plot-container">
      <img id="dom_activity" class="plot img-responsive" src="plots/dom_activity.png" />
    </div>
    <div class="col-md-6 plot-container">
      <img id="dom_rates" class="plot img-responsive" src="plots/dom_rates.png"  />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 plot-container">
      <img id="pmtrates" class="plot img-responsive" src="plots/pmtrates.png" />
    </div>
    <div class="col-md-6 plot-container">
      <img id="hrv" class="plot img-responsive" src="plots/hrv.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 plot-container">
      <img id="trigger_rates" class="plot img-responsive" src="plots/trigger_rates.png"  />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 plot-container">
      <img id="trigger_rates_test" class="plot img-responsive" src="plots/trigger_rates_test.png"  />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 plot-container">
      <!-- <img id="dom_pings" class="plot img-responsive" src="plots/dom_pings.png"  /> //-->
      <!-- <img id="k40" class="plot img-responsive" src="plots/k40.png"  /> //-->
      <img id="single_rates" class="plot img-responsive" src="plots/single_rates.png"  />
    </div>
    <div class="col-md-6 plot-container">
      <img id="ztplot" class="plot img-responsive" src="plots/ztplot.png"  />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 plot-container">
      <img id="hits_on_doms" class="plot img-responsive" src="plots/hits_on_doms.png" style="alpha: 0.2"  />
    </div>
    <div class="col-md-6 plot-container">
      <img id="triggered_hits_on_doms" class="plot img-responsive" src="plots/triggered_hits_on_doms.png" style="alpha: 0.2"  />
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 plot-container">
      <img id="yaw" class="plot img-responsive" src="plots/yaw_calib.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 plot-container">
      <img id="pitch" class="plot img-responsive" src="plots/pitch_calib.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 plot-container">
      <img id="roll" class="plot img-responsive" src="plots/roll_calib.png" />
    </div>
  </div>
{% endblock %}
