{% extends "base.html" %}

{% block main %}

    {% for category, plot_filenames in plots.items() %}
        <h3 style="text-align: center">{{ category }}</h3>
        <div class="container-fluid">
            <div class="row">
                {% for plot_filename in plot_filenames %}
                <div class="col-md-2">
                    <h3>#{{ loop.index }}</h3>
                </div>
                <div class="col-md-10">
                    <a href="{{ plot_filename }}">
                    <img class="plot img-responsive"
                         src="{{ plot_filename }}"
                         alt="{{ plot_filename }}"/>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
