{% extends "base.html" %}

{% block main %}

    {% for category, events in top10.items() %}
        <h3 style="text-align: center">{{ category }}</h3>
        <div class="container-fluid">
            {% for event in events %}
                <div class="row">
                    <div class="col-md-2" style="vertical-align: middle">
                        <h3 class="placement">#{{ loop.index }}</h3>
                        <table class="top10">
                        {% for key, value in event.meta.items() %}
                            <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-8">
                        <a href="{{ event.plot_filename }}">
                        <img class="plot img-responsive" style="padding: 20px"
                             src="{{ event.plot_filename }}"
                             alt="{{ event.plot_filename }}"/>
                        </a>
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
